In [22]:
import sqlite3

In [23]:
db=sqlite3.connect('School.sqlite')

In [24]:
db

In [25]:
cur=db.cursor()
cur

In [26]:
sql_query= 'Create table Student (Rollnumber int primary key, Name Text, Age int)'
cur.execute(sql_query)
db.commit()

In [27]:
cur.execute('Insert into student values (101,"Sanju",20)')

In [28]:
db.commit()

In [29]:
cur.execute('insert into student values (102,"kumar",21)')

In [30]:
db.commit()

In [31]:
db.close()

In [32]:
db=sqlite3.connect('School.sqlite')

In [33]:
cur=db.cursor()
cur

In [34]:
Rollnumber=104
Name="Reddy"
age=19

In [35]:
cur.execute('Insert into Student values(?,?,?)',(Rollnumber, Name, age))

In [36]:
db.commit()

In [37]:
values=[(106,"Varun",20),(107,"Sasi",21),(108,"Nithin",22)]

In [38]:
cur.executemany('Insert into Student values(?,?,?)',values)

In [39]:
db.commit()

In [40]:
cur.execute('Update Student set Age=30')

In [41]:
db.commit()

In [42]:
cur.execute('Update Student set Age=20 where RollNumber>105')

In [43]:
db.commit()

In [44]:
new_age=50
cur.execute('Update Student set Age=? where Rollnumber=106',(new_age,))

In [45]:
db.commit()