In [2]:
import sqlite3

In [3]:
db=sqlite3.connect('employee.sqlite')

In [4]:
db

In [5]:
cur=db.cursor()
cur

In [7]:
sql_query='Create table employee(employee_id int primary key, name varchar(50), age int, department varchar(50), salary int)'

In [8]:
cur.execute(sql_query)

In [9]:
db.commit()

In [10]:
cur.execute('Insert into employee values(100,"Rishav",25,"Marketing",50000)')

In [11]:
db.commit()

In [12]:
cur.execute('Insert into employee values(101,"Abhishek",26,"Operations",60000)')

In [13]:
db.commit()

In [14]:
cur.execute('Insert into employee values(102,"Aman",24,"Human Resource",75000)')

In [15]:
db.commit()

In [17]:
cur.execute('delete from employee where employee_id=101')

In [18]:
db.commit()

In [19]:
eid=102
cur.execute('delete from employee where employee_id=?',(eid,))

In [20]:
db.commit()

In [21]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [25]:
for i in range(len(employee_id)):
    cur.execute('Insert into employee values(?,?,?,?,?)',(employee_id[i],name[i],age[i],department[i],salary[i]))

In [26]:
db.commit()

In [6]:
cur.execute('Select * from employee where department="Finance"')

In [7]:
cur.fetchall()

[(103, 'Siddharth', 25, 'Finance', 85000),
 (107, 'Vaibhav', 23, 'Finance', 85000)]

In [8]:
cur.execute('Select * from employee')

In [9]:
l=[]
for row in cur:
    l.append(row[3])

In [10]:
l

['Marketing',
 'Marketing',
 'Operations',
 'Finance',
 'Human Resource',
 'Marketing',
 'IT',
 'Finance',
 'IT',
 'Operations',
 'Marketing',
 'Human Resource',
 'Marketing']

In [11]:
d={}
for i in l:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
d

{'Marketing': 5, 'Operations': 2, 'Finance': 2, 'Human Resource': 2, 'IT': 2}